:root {
  --Cyan: hsl(179, 62%, 43%);
  --Cyan-light: hsl(179, 82%, 33%);;
  --Bright-Yellow: hsl(71, 73%, 54%);

  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);

  --white: hsl(0, 0%, 100%);
  --gray:hsl(0, 0%, 50%);
}
